.mainbody
{
    background: black ;
    
}
a{
    text-decoration: none !important;
}
.navbar{
    background-color: #1d1d1d;
    height: 100px;
}
.login{
    
    color: white;
    text-align: right;
    

}
.cart{
    width: 20px;
}
.header1{
    font-weight: bolder;
    color:white;
}
@media (min-aspect-ratio:1/1) {
    #videoBG {
        margin-top: 50px;
        width: 70%;
        height: auto;
        background-color: black;
    
    }
    }
    @media (max-aspect-ratio:1/1) {
        #videoBG {
            
            width: auto;
            height: 70%;
        }
    }
    .btna{
        color: white;
        font-weight: 2000;
    }
    .btn{
        padding: 50px 0px 50px 0px;
        width: 300px;
        height: 70px;
        background:linear-gradient(to right, #00d7ff, #006094) !important;
        outline:black;
        border-radius:10px !important;
        margin-bottom: 100px;
        margin-top: 50px;
    }
    .btn:hover{
        height: 100px;
        transition: 0.4s;
        padding-bottom: 50px;
    }
    .btn2{position: fixed;
        right: 1px;
        bottom: 0px;
        background-color: #00b1fd ;
        outline: none !important;
        border: 1px solid #91ddeb;
        border-radius: 20px;
        color: white;
        z-index: 1;
    }

    .part{
        margin-top: 20px;
        height: 100%;
        background-color: rgb(235, 232, 232);
        border-right: 20px solid white;
        
    }

    .title{
        font-weight: bolder;
        padding-top: 50px;
    }
    .para
    {
        padding: 20px;
        font-family: sans-serif;
    }
    .learn{
        color:#00d7ff;
        font-family: serif;
        font-style: oblique;
        cursor: pointer;
    }
    .learn:hover{
        color: rgb(43, 43, 70);
        transition: 0.4s;
       
    }
    .png{
        width: 100%;
    }
    