
.navbar{
    background-color: #1d1d1d;
    height: 100px;
}
.Login{
    text-decoration: none;
    color: white;
    text-align: right;
    

}
.cart{
    width: 20px;
}
a{
    text-decoration: none;
}
.header2{
    height: 100vh;
  
    text-decoration: none;
}
.header1{
    color: white;
    font-weight: bolder;
    text-align: center;
}

.btn-default{
    padding: 0;
    background: linear-gradient(to right, #00d7ff, #006094);
    height: 70px;
    width: 300px;
}
.btn-default:hover{
    padding: 100px;
    transition: 0.4s;

}