body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

a{
    text-decoration: none !important;
}
.navbar{
    
    background-color: #1d1d1d;
    height: 100px;
    opacity:0.7 ;
    
}
.login{
    
    color: white;
    text-align: right;
    

}
.cart{
    width: 20px;
}
.header1{
    font-weight: bolder;
    color:black;
}
.video{
    width: 70%;
    height: auto;
}


.playpause {
    background-image:url(http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png);
    background-repeat:no-repeat;
    width: 30%;   
    height: 30%;
     position:absolute;

    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin: auto;
    background-size:contain;
    background-position: center;
}
    
    .btn
{
    border:1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    
}
.btn1{
    color: #fff;
}
.btn1:hover{
    color: #3498db;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    }
    .btn1::before{
        top: 0;
        border-radius: 20px;
    }
    
    .btn1::before{
        height: 180%;
    }
    .btn1:hover::before{
        height: 0%;
    }
    .btn2{position: fixed;
        right: 1px;
        bottom: 0px;
        background-color: #00b1fd ;
        outline: none !important;
        border: 1px solid #91ddeb;
        border-radius: 20px;
        color: white;
        z-index: 1;
    }
.btn2:hover{
    padding-right: 80px;
    transition: 0.8s;
    
}
    .part{
        margin-top: 20px;
        height: 100%;
        background-color: #ebe8e8;
        border-right: 10px solid rgb(0, 0, 0);
        
    }
    .part1{
        background-color: #ebe8e8;
        margin-top: 20px;
        height: 100%;
        width: 100vw;
    }

    .title{
        font-weight: bolder;
        padding-top: 50px;
    }
    .para
    {
        padding: 20px;
        font-family: sans-serif;
    }
    .learn{
        color:#00d7ff;
        font-family: serif;
        font-style: oblique;
        cursor: pointer;
    }
    .learn:hover{
        color: rgb(43, 43, 70);
        transition: 0.4s;
       
    }
    .png{
        width: 100%;
    }
    .page3{
        
  
    margin-top: 30px;
    }
    .run{
        width: 100%;
    }
    .overlay{
        font-weight: bolder;
        font-size: x-large;
        width: 600px;
        font-family: ui-serif;
    }
    .p1{
        color: grey;
    }
    .tittle1{
        color: black;
        font-size: 70px;
        font-weight: 1200px;
    }
    .span{
        color:black;
        font-size: x-large;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      #main {
        transition: margin-left .5s;
        padding: 16px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      .fontt{
          color: white;
          font-size: 80px;
          font-weight: bolder;
          font-family: ui-serif;
          width: 60%;
          padding-top: 100px;


      }
      .classicbtn{
          padding: 0;
          margin-top:100px;
         width: 70%;
          border: 1px solid rgb(31, 30, 30);
          background-color: rgb(44, 43, 43);
          border-radius: 20px;
          outline: none !important;
          border:none;
      }
      .classicbtn:hover{
          border: 2px solid #00d7ff;
          transition: 0.2s;
          
      }
      @media screen and (min-height: 10%) {
        .classicbtn{width: 70%;}
        
      }
      .pngs{
          width: 100px;

      }
      .pad{
          padding: 0 !important;
          margin: 0; 
        
        }
        .swap{
            text-align: right;
            width: 70%;
        }
        .fontt1{
            color: white;
          font-family:sans-serif;
          width: 80%;
          padding-top: 100px;
          padding-left: 100px;
          font-size: 50px;
          font-weight: 900;
          line-height: 110%;
          letter-spacing: 0.03em;
          text-align: left;
        }
        .fontt2{
            text-align: left;
            color: grey;
            opacity: 0.8;
            font-family: sans-serif;
            width: 76%;
            padding-left: 100px;
        }
        .span1{
            text-align: right;
            color: white;
            font-weight: bold;
            opacity: 1;
        }
    